extends layout

block content
  if errors
    h3.text-center Please correct following items first:
    for error in errors
        h4.red-text.col-sm-offset-4!= error.msg
  h1=title
  form.col-sm-offset-3(method='POST' action='').col-sm-6
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text', placeholder='First name' name='first_name' required='true' value=(undefined===doctor ? '' : doctor.first_name) )
    div.form-group
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text', placeholder='Family name' name='family_name' required='true' value=(undefined===doctor ? '' : doctor.family_name))
    div.form-group
      label(for='email') Email:
      input#email.form-control(type='email', placeholder='Email Address' name='email' value=(undefined===doctor ? '' : doctor.email) )
    div.form-group
      label(for='phone_number') Phone Number:
      input#phone_number.form-control(type='tel', placeholder='Phone Number', name='phone_number' value=(undefined===doctor ? '' : doctor.phone_number) )
    br
    button.btn.btn-primary.btn-lg.center-block(type='submit') Submit
