doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap-multiselect.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-multiselect.css')
  body
    div.container
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/schedule') Surgery Schedule
          ul.nav.navbar-nav
            li
              a(href='/schedule/doctors') Doctors
            li
              a(href='/schedule/patients') Patients
            li
              a(href='/schedule/surgeries') Surgeries
            li
              a(href='/schedule/search') Find
      
      div(class='col-sm-10')
        block content
