extends layout

block content
  h1= title
  h3 #[strong Patient:] #{list.patient}
  
  h3 #[strong Doctors:] 
  each surgery in list
      each doc in surgery.doctor
        li
          a(href=doc.url) #{doc.name}
  else
    li There are no surgeries.
